<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>학생 목록</h1>
    <a href="#">추가하기</a>
    {% if info_list %}
        <ul>
            {% for info in info_list%}
                <li>{{info.id}} - <a href="/info/detail/{{info.id}}">{{info.name}}({{info.age}}):{{info.regdate}}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        목록이 존재하지 않습니다.
    {% endif %}
</body>
</html>